[submodule "libft"]
	path = lib/libft
	url = https://github.com/jaredyalves/libft.git
[submodule "get_next_line"]
	path = lib/get_next_line
	url = https://github.com/jaredyalves/get_next_line.git
[submodule "minilibx-linux"]
	path = lib/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
